<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <title>logo</title>
</head>
<body>
    <div style="border: 5px; border-color: black; max-width: 100%; max-height: 100%; width: 500px; height: auto; margin:auto;">
        <div class="container" style="max-width:600px; margin:auto; font-family: 'Poppins', sans-serif;">
            <div class="button" style="padding:10px; text-align:center; background-color: #3b3a80; border-radius: 0.5rem;">
                <img src="https://python.penveel.com/media/main/logo.svg">
            </div>
            <div class="checkbox" style="margin:100px; text-align: center;">
                <img src="https://python.penveel.com/media/main/Rectangle%201211.png">
            </div>
            <div class="content">
                <h1 style="font-weight: 600;">Hi shopify</h1>
                <div class="info">
                    <div class="row" style="display: grid; grid-template-columns: 200px 40px 200px;">
                        <div class="grid-template-columns"><label style="color: rgb(111, 111, 116);">your subscription plan</label>  <span>-</span> <span style="font-family:sans-serif; font-weight:300;">Basic Shopify</span></div>
                    </div><br>
                    <div class="row" style="display: grid; grid-template-columns: 200px 40px 100px;">
                        <div class="grid-template-columns"><label style="color: rgb(94, 94, 97);">Free Request</label><span>-</span>
                            <span style="font-family:sans-serif;">20</span></div>
                    </div>
                </div>
                <div class="desc">
                    <p style="font-family:sans-serif;font-weight: 400;">Your free request limit is over . Now for every
                        return request you will charge $0.4.</p>
                    <p style="font-family:sans-serif; font-weight: 400;">Thanks for using our app.</p>
                </div>
            </div>
            <div class="plan" style="text-align:center; margin:50px;">
                <a href="{{ url }}" style="padding:10px 30px; border-radius:1rem; text-decoration:none; color:white; background-color:#3b3a80;font-weight: 600;">Change
                    your plan</a>
            </div>
        </div>
    </div>
</body>
</html>